.step {
	& > svg {
		font-size: 20px;
		vertical-align: bottom;
	}

	&__number {
		border: 2px solid #de4b4b;
		border-radius: 50%;
		padding: 0 4px;
		margin-left: 20px;
	}

	&__name {
		margin-left: 10px;
		margin-right: 20px;
	}
}
