@import '../../../mixins';
@import '../../../variables';

.card {
	position: absolute;
	padding: 80px 0 0 27px;
	top: 202px;
	left: $add-card-left;
	width: 365px;
	height: 224px;
	background: transparent url('assets/Group 1735.svg') 0% 0% no-repeat
		padding-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	@include mq(max, lg) {
		left: $add-card-left-mq;
	}

	@include mq(max, md) {
		width: 280px;
		height: 172px;
		padding: 55px 0 0 14px;
		top: 141px;
		left: calc(calc(100% - 280px) / 2);
		background: transparent url('assets/Group 1601.svg') 0% 0% no-repeat
			padding-box;
	}

	&--back {
		background: transparent url('assets/Group 433.svg') 0% 0% no-repeat
			padding-box;

		@include mq(max, md) {
			background: url('assets/Group 433.svg') no-repeat padding-box;
			background-size: 280px;
		}
	}

	&--visa {
		background: transparent url('assets/Group 1603.svg') no-repeat
			padding-box;
		background-size: 364px;

		@include mq(max, md) {
			background-size: 280px;
		}

		&-back {
			background: transparent url('assets/Group 434.svg') no-repeat
				padding-box;
			background-size: 364px;

			@include mq(max, md) {
				background-size: 280px;
			}
		}
	}

	&__logo {
		top: 35px;
		left: 27px;
		position: absolute;
		background: url('assets/Image.png') no-repeat padding-box;
		background-size: 69px;
		width: 69px;
		height: 23px;

		@include mq(max, md) {
			top: 27px;
			left: 14px;
			background-size: 53px;
			width: 53px;
			height: 18px;
		}
	}

	&__text {
		text-align: left;
		font-size: 22px;
		letter-spacing: 4px;
		color: #ffffff;
		text-shadow: 0px 1px 2px #000000b3;

		@include mq(max, md) {
			font-size: 20px;
			letter-spacing: 1px;
		}

		&--left {
			text-transform: uppercase;
			font-size: 18px;
			letter-spacing: 0;
			float: left;

			@include mq(max, md) {
				font-size: 12px;
			}
		}

		&--right {
			font-size: 18px;
			letter-spacing: 0;
			margin-right: 55px;
			float: right;

			@include mq(max, md) {
				margin-right: 33px;
				font-size: 12px;
			}
		}
	}
}

.card-back__text {
	float: left;
	font-size: 22px;
	color: #3c3c3c;
	letter-spacing: -0.54px;
	margin-left: 150px;
	margin-top: 27px;

	@include mq(max, md) {
		font-size: 20px;
		letter-spacing: 1px;
		margin-left: 118px;
	}
}
