@import '../../../../mixins.scss';

.custom-input {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 62px;
	height: 23px;

	@include mq(max, md) {
		margin-bottom: 24px;
	}

	&--with-error {
		border-color: #eb5757;
	}

	&__input {
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		padding: 0;
		margin: 0;
		position: absolute;
		font-size: inherit;
		color: #3c3c3c;
		letter-spacing: inherit;
		word-spacing: inherit;
		font: inherit;
		margin: 0;

		&:focus {
			outline: none;
		}

		&--select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
	}

	&__icon {
		position: absolute;
		color: #de4b4b;
		font-size: 18px;
		right: 10px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	&__label {
		width: 100%;
		position: absolute;
		font-size: 18px;
		top: 0;
		left: 0;
		transition: 1s;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

		@include mq(max, md) {
			font-size: 14px;
		}

		&--hover {
			transition: 1s;
			font-size: 14px;
			top: -16px;

			@include mq(max, md) {
				transition: 1s;
				font-size: 10px;
				top: -12px;
			}
		}
	}

	&__error {
		font-size: 14px;
		position: absolute;
		top: 28px;
		color: #eb5757;

		@include mq(max, md) {
			font-size: 8px;
		}
	}
}
