@import '../../variables';
@import '../../mixins';

.header {
	position: relative;
	background-color: white;
	max-width: 100%;
	height: $header-height;
	border-bottom: 1px solid #ccc;
	padding: $header-pdv 150px;

	@include mq(max, md) {
		padding: $header-pdv-mq calc(calc(100% - 260px) / 2);
	}

	@include mq(max, xl) {
		padding: $header-pdv 90px;
	}

	&__slogan {
		height: 42px;
		width: 260px;
		background: transparent url('assets/Group 2290.svg') 0% 0% no-repeat
			padding-box;
		opacity: 1;
		display: inline-flex;
	}

	&__boxes {
		display: inline-flex;
		float: right;
		vertical-align: top;
		margin-top: 15px;

		& > div {
			margin-left: 20px;

			@include mq(max, xl) {
				margin-left: 10px;
			}
		}

		@include mq(max, lg) {
			display: none;
		}
	}
}
