@import '../../../mixins.scss';

.add-form {
	position: absolute;
	top: 53px;
	left: 520px;
	width: 413px;

	@include mq(max, md) {
		top: 270px;
		left: 40px;
		width: 280px;
	}

	&__form {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #c9c9c9;
		margin-top: 71px;

		&-col {
			&:first-child {
				padding-left: 0 !important;
			}

			&:last-child {
				padding-right: 0 !important;
			}
		}
	}

	&__button {
		border: none;
		font-weight: bold;
		font-size: 20px;
		letter-spacing: -0.01px;
		width: 246px;
		height: 51px;
		background: #de4b4b 0% 0% no-repeat padding-box;
		border-radius: 10px;
		color: white;

		@include mq(max, md) {
			width: 280px;
			height: 51px;
		}
	}
}
