@import '../../mixins.scss';
@import '../../variables.scss';

$container-height: 596px;

.add-card {
	position: relative;
	width: 1024px;
	height: $container-height;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 1;
	margin: auto;
	margin-top: 40px;

	@include mq(max, md) {
		height: calc(100% - #{$header-height} - 2 * #{$header-pdv-mq});
		width: 100%;
		margin: 0;
	}

	&__red-panel {
		color: white;
		position: relative;
		width: 352px;
		height: $container-height;
		background: #de4b4b 0% 0% no-repeat padding-box;
		opacity: 1;

		@include mq(max, md) {
			width: 100% !important;
			height: 250px;
		}

		@include mq(max, lg) {
			width: 270px;
		}
	}
}

.go-back {
	display: inline-flex;
	font-size: 16px;
	position: absolute;
	top: 53px;
	left: $add-card-left;
	cursor: pointer;

	@include mq(max, lg) {
		left: $add-card-left-mq;
	}

	@include mq(max, md) {
		font-weight: bold;
		top: 15px;
		font-size: 26px;
	}

	&__arrow {
		width: 8px;
		height: 14px;
		margin-right: 10px;
	}

	&__text {
		display: block;

		@include mq(max, md) {
			display: none;
		}
	}
}

.new-card {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 122px;
	left: $add-card-left;

	@include mq(max, lg) {
		left: $add-card-left-mq;
	}

	@include mq(max, md) {
		font-size: 18px;
		top: 70px;
		left: calc(calc(100% - 220px) / 2);
	}

	&__logo {
		width: 95px;
		height: 50px;
		background: transparent url('assets/Group 1977.svg') 0% 0% no-repeat
			padding-box;

		@include mq(max, md) {
			width: 55px;
			height: 40px;
			background: transparent url('assets/Group 1600.svg') 0% 0% no-repeat
				padding-box;
		}
	}

	&__text {
		@include mq(max, md) {
			margin: auto;
			width: 200px;
		}
	}
}

.steps {
	display: none;
	position: absolute;
	text-align: middle;
	height: 18px;
	font-size: 16px;
	top: 22px;
	left: calc(calc(100% - 88px) / 2);
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	@include mq(max, md) {
		display: inline-flex;
	}
}
