@import '../../../mixins';

.box {
	display: inline-block;
	background-color: #3c3c3c;
	width: 70px;
	height: 10px;
	background: #3c3c3c 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;

	@include mq(max, xl) {
		width: 50px;
		height: 8px;
	}
}
